html, body {
  height: 100%;
  margin: 0;
  background: rgba(0,12,31,1) !important;
  background-repeat: repeat;
  color: white !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradientFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Silkscreen';
  src: url('./fonts/slkscr.ttf') format('truetype');
}

h1 {
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  text-align: center;
  z-index: 1;
}

h1.fade-in {
  position: sticky;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-fill-mode: forwards;
}

.fade-in.delay {
  animation-delay: 2s;
}

.fade-in.delay-4s {
  animation-delay: 4s;
}

.gradient-background {
  background: radial-gradient(circle at top center, rgba(0,212,255,1) 0%, rgba(0,12,31,1) 40%, rgba(0,12,31,1) 100%);
  opacity: 0;
  animation: gradientFadeIn 2s forwards;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-background-about {
  background: radial-gradient(circle at top center, rgb(255, 196, 0) 0%, rgba(0,12,31,1) 40%, rgba(0,12,31,1) 100%);
  opacity: 0;
  animation: gradientFadeIn 2s forwards;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-background-contact {
  background: radial-gradient(circle at top center, rgb(137, 0, 216) 0%, rgba(0,12,31,1) 40%, rgba(0,12,31,1) 100%);
  opacity: 0;
  animation: gradientFadeIn 2s forwards;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-background-hw1 {
  background: radial-gradient(circle at top center, rgb(178, 0, 83) 0%, rgba(0,12,31,1) 40%, rgba(0,12,31,1) 100%);
  opacity: 0;
  animation: gradientFadeIn 2s forwards;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-background-lab2 {
  background: radial-gradient(circle at top center, rgb(83, 178, 0) 0%, rgba(0,12,31,1) 40%, rgba(0,12,31,1) 100%);
  opacity: 0;
  animation: gradientFadeIn 2s forwards;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  text-align: center;
  z-index: 1;
  position: relative;
  padding-top: 10rem;
  display: 'flex';
  overflow: 'hidden';
  justify-content: flex-start;
}

.content img {
  max-width: 100;
  height: auto;
}

nav {
  font-family: ''Verdana'', sans-serif;
}

.nav-panel {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.646);
  border: 2px solid rgb(0, 192, 250);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 192, 250, 0.8);
}

.nav-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-panel li {
  margin: 0.25rem 0;
  text-align: left;
}

.nav-panel li a {
  transition: all 0.3s ease;
}

.nav-panel li a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(0, 212, 255, 1);
  color: rgba(0, 212, 255, 1)
}

.nav-panel a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-panel a:hover {
  color: rgba(0, 212, 255, 1);
  margin-left: 10px;
  text-shadow: 0 0 10px rgba(0, 212, 255, 1);
}

.table-interests-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
  margin-left: 20rem;
}

.games-table {
  flex: 0 1 auto;
  margin-left: -20rem;
}

.interests-section {
  flex: 0 1 auto;
  margin-left: -20rem;
}

table {
  width: auto;
  margin: 2rem auto;
  margin-left: 20rem;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

th, td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
  background-color: rgba(255, 255, 255, 0.1);
}

.interests-section {
  margin: 1rem 10rem;
}

.interests-section h3 {
  margin-bottom: 1rem;
}

.interests-section ul {
  list-style-type: inside;
  padding: 20px;
  margin: 0;
}

.interests-section li {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding-left: 1rem;
  transition: transform 0.3s ease;
  list-style-position: inside;
  min-width: 150px;
  text-align: left;
}

.interests-section li:hover {
  transform: translateX(20px);
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-3s {
  animation-delay: 3s;
}

.delay-4s {
  animation-delay: 4s;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.contact-form {
  border-radius: 20px;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  border: none;
  align-items: center;
  margin-right: 4rem;
  height: 550px;
}

.VR-button-container button {
  display: 'flex';
  justify-content: center;
  padding: 10px 20px;
  font-size: 32px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid rgb(169, 0, 118);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  background: transparent;
  font-family: 'Silkscreen', cursive;
  width: 70%;
  margin: 5px auto;
}

.VR-button-container button:hover {
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1.1);
  color: white;
  box-shadow: 0 0 20px rgb(255, 0, 238);
}



